.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 70px;
  padding-bottom: 60px;
}

.cityIcon {
  padding-right: 5px;
}

.headerTitle {
  color: white;
}

.headerTitle2 {
  color: white;
  justify-content: center;
  display: flex;
  padding-bottom: 10px;
  margin-top: -20px;
}

.headerTitle3 {
  color: white;
  padding-top: 15px;
}

.banner {
  justify-content: space-between;
  flex-direction: row;
  top: 0px !important;
  background-color: #323235;
  z-index: 99;
  position: fixed;
  display: flex;
  flex: 1;
  width: 100%;
  min-height: 56px;
}

.fullPage {
  background-color: #000000;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.description {
  text-align: center;
  color: white;
}

.postHack {
  cursor: pointer;
  flex: 1;
  flex-direction: row;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}

.tabsContainer {
  padding-top: 20px;
}

.poll {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.inputGroup {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 600px;
}

.formControl {
  width: 80%;
  height: 34px;
}

.postButton {
  cursor: pointer;
  width: 18%;
  height: 40px;
  margin-left: 20px;
}

.selectorsContainer {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 600px;
}

.networkDetector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 600px;
}

.cityhacks {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.cityhack {
  display: flex;
  max-width: 100%;
}

.cityhackfield {
  word-break: break-all;
}

.actionsContainer {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.whitehint {
  padding: 15px;
  color: white;
}

.statusTitle {
  padding: 10px 0px 10px 10px;
  color: white;
  text-align: end;
  visibility: hidden;
}

.statusName {
  padding: 10px;
  color: white;
  text-align: end;
  display: flex;
  align-items: center;
  min-width: 140px;
  justify-content: flex-end;
}

.rightSideContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftSideContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 55px;
}

.statusLoader {
  padding: 5px 3px 0 0;
}
.statusLoaderHidden {
  padding-top: 9px;
  padding-right: 5px;
  visibility: hidden;
}

.elementContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 15px;
  top: 12px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #acadb4;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #516ca7;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  top: 36px !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  padding-top: 36px;
  z-index: 100 !important;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  width: fit-content !important;
}
